//variables for colors:
//replace #FFF with color scheme gotten from colourmind.io
$light-shade: #F4EEF0;
$light-accent: #7A848D;
$brand-color: #E985A2;
$dark-accent: #B53B51;
$dark-accent-alpha: #281E3050;
$dark-shade: #281E30;