//variables for colors:
//replace #FFF with color scheme gotten from colourmind.io
$light-shade: #F4EEF0;
$light-accent: #7A848D;
$brand-color: #E985A2;
$dark-accent: #B53B51;
$dark-accent-alpha: #281E3050;
$dark-shade: #281E30;

$z-base: 100;

//start of keyframe definitions to be used with the animations of the overlay
//pulse will be a heartbeat like animation that will start of growing smaller
//but very quickly will grow in size (or beat)
@keyframes pulse{
    0%{
        transform: scale(0.8);
    }
    20%{
        transform: scale(0.6);
    }
    40%{
        transform: scale(0.7);
    }
    50%{
        transform: scale(0.8);
    }
    60%{
        transform: scale(0.9);
    }
    70%{
        transform: scale(1.0);
    }
    80%{
        transform: scale(1.1);
    }
    90%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.3);
    }
}