//variables for colors:
//replace #FFF with color scheme gotten from colourmind.io
$light-shade: #FFF;
$light-accent: #FFF;
$brand-color: #FFF;
$dark-accent: #FFF;
$dark-accent-alpha: #FFF;
$dark-shade: #FFF;