@import 'variables';
@import 'fonts';
@import 'mixins';

*{
    color: $light-shade;
    font-family: 'Rubik', 'sans-serif'; //the base font style
}

html{
    font-size: 16px; //setting the base font size to build ems and rms off of
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Rokkitt', 'serif';
}

#home{
    .buttonbox{
        position: relative;
        top: 60vh;
        @include center(row);
        
        .btn-small{
            background-color: $dark-shade;
            border: none;
            text-align: center;
            min-width: 75px;
            &.active{
                background-color: $dark-accent;
                // border: inset 2px solid $dark-shade;
            }
        }
    }
}

//selector for the card elements form tiny$hell
.card{
    transition: transform 500ms ease-in;
    transform: translateX(0); //initial transformation to allow it to move later
    header{
        width: 100%;
        h2{
            width: 100%;
            color: $dark-shade;
            text-align: center;
        }
    }
    .info{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
            color: $dark-shade;
        }
    }
    .moveleft{
        transform: translateX(-200%); //swiping the card off the screen to the left
    }
    .moveright{
        transform: translateX(200%); //swiping the card off the screen to the right
    }
}

#profiles{
    .list-view{
        .list-item{
            min-height: 3rem;
            .list-text{
                p{
                    padding-left: 3em;
                }
            }
        }
    }
}

.overlay{
    &.deactive{
        display: none;
    }
    &#loading{
        background-color: none;
    }
    .message.pulse{
        animation: pulse 300ms ease-in 1;
        span{
            color: $dark-accent;
        }
        font-size: 20em;
        height: 100%;
    }
}
svg{
    //code for the svg loader, using the class hex-loader
    //for the actual svg itself:
    transform: scale(0.2);
    .hex-loader{
        animation: none;
        fill:#E985A2;
        stroke:#F4EEF0;
        stroke-miterlimit:10;
        transform-origin: center;
        transform: rotate(0);
        animation: spin 2000ms ease-out infinite;
    }
}

//base code taken form simple spa demo:
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}
main {
    width: 100vw;
    min-height: 100vh;

    margin: 0;
    padding: 0;
}
.page {
    box-sizing: border-box;
    top: 0;
    left: 0;
    font-size: 2rem;
}
.page:last-child {
    border: none;
}
// .page.active {
//     opacity: 1;
//     z-index: $z-base;
// }
#home {
    background-color: $dark-accent;
    overflow-y: hidden;
}
#profiles {
    background-color: $dark-shade;
}