@keyframes pulse {
  0% {
    transform: scale(0.8); }
  20% {
    transform: scale(0.6); }
  40% {
    transform: scale(0.7); }
  50% {
    transform: scale(0.8); }
  60% {
    transform: scale(0.9); }
  70% {
    transform: scale(1); }
  80% {
    transform: scale(1.1); }
  90% {
    transform: scale(1.2); }
  100% {
    transform: scale(1.3); } }
@keyframes spin {
  100% {
    transform: rotate(360deg); } }
/* rokkitt-regular - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: url("./google-fonts/rokkitt-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./google-fonts/rokkitt-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("./google-fonts/rokkitt-v18-latin-regular.woff2") format("woff2"), url("./google-fonts/rokkitt-v18-latin-regular.woff") format("woff"), url("./google-fonts/rokkitt-v18-latin-regular.ttf") format("truetype"), url("./google-fonts/rokkitt-v18-latin-regular.svg#Rokkitt") format("svg");
  /* Legacy iOS */ }
/* rokkitt-700 - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 700;
  src: url("./google-fonts/rokkitt-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./google-fonts/rokkitt-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("./google-fonts/rokkitt-v18-latin-700.woff2") format("woff2"), url("./google-fonts/rokkitt-v18-latin-700.woff") format("woff"), url("./google-fonts/rokkitt-v18-latin-700.ttf") format("truetype"), url("./google-fonts/rokkitt-v18-latin-700.svg#Rokkitt") format("svg");
  /* Legacy iOS */ }
/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url("./google-fonts/rubik-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Rubik"), local("Rubik-Regular"), url("./google-fonts/rubik-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("./google-fonts/rubik-v9-latin-regular.woff2") format("woff2"), url("./google-fonts/rubik-v9-latin-regular.woff") format("woff"), url("./google-fonts/rubik-v9-latin-regular.ttf") format("truetype"), url("./google-fonts/rubik-v9-latin-regular.svg#Rubik") format("svg");
  /* Legacy iOS */ }
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url("./google-fonts/rubik-v9-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Rubik Bold"), local("Rubik-Bold"), url("./google-fonts/rubik-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("./google-fonts/rubik-v9-latin-700.woff2") format("woff2"), url("./google-fonts/rubik-v9-latin-700.woff") format("woff"), url("./google-fonts/rubik-v9-latin-700.ttf") format("truetype"), url("./google-fonts/rubik-v9-latin-700.svg#Rubik") format("svg");
  /* Legacy iOS */ }
* {
  color: #F4EEF0;
  font-family: 'Rubik', 'sans-serif'; }

html {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rokkitt', 'serif'; }

#home .buttonbox {
  position: relative;
  top: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #home .buttonbox .btn-small {
    background-color: #281E30;
    border: none;
    text-align: center;
    min-width: 75px; }
    #home .buttonbox .btn-small.active {
      background-color: #B53B51; }

.card {
  transition: transform 500ms ease-in;
  transform: translateX(0); }
  .card header {
    width: 100%; }
    .card header h2 {
      width: 100%;
      color: #281E30;
      text-align: center; }
  .card .info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .card .info p {
      color: #281E30; }
  .card .moveleft {
    transform: translateX(-200%); }
  .card .moveright {
    transform: translateX(200%); }

#profiles .list-view .list-item {
  min-height: 3rem; }
  #profiles .list-view .list-item .list-text p {
    padding-left: 3em; }

.overlay.deactive {
  display: none; }
.overlay#loading {
  background-color: none; }
.overlay .message.pulse {
  animation: pulse 300ms ease-in 1;
  font-size: 20em;
  height: 100%; }
  .overlay .message.pulse span {
    color: #B53B51; }

svg {
  transform: scale(0.2); }
  svg .hex-loader {
    animation: none;
    fill: #E985A2;
    stroke: #F4EEF0;
    stroke-miterlimit: 10;
    transform-origin: center;
    transform: rotate(0);
    animation: spin 2000ms ease-out infinite; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif; }

main {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0; }

.page {
  box-sizing: border-box;
  top: 0;
  left: 0;
  font-size: 2rem; }

.page:last-child {
  border: none; }

#home {
  background-color: #B53B51;
  overflow-y: hidden; }

#profiles {
  background-color: #281E30; }

/*# sourceMappingURL=style.css.map */
